.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
	background-color: #000000;
	height: 100px;
	padding-top: 8px;
	padding-bottom: 10px;
	color: #222;
	position: relative;
}


.App-title {
	font-size: 2.5em;
	font-weight: bold;
	color: white;
	text-align: center;
	position: absolute;
	display: inline-block;
	bottom: 50%;
	right: 32%;
}

.App-link {
  color: #61dafb;
}

.navlink {
	padding: 0.4rem 0.8rem;
	background-color: black;
	border-radius: 3px;
	color: white;
	text-decoration: none !important;
	font-size: 30px;
	font: Arial;
}

.loglink{
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: #1486e9;
	text-decoration: none !important;
	position: relative;
	margin-right: 0px;
}

.loginlink{
	padding: 0.4rem 0.8rem;
	background-color: white;
	border-radius: 3px;
	color: #1282e4;
	text-decoration: none !important;
	position: relative;
	margin-right: 0px;
}

.regularlink{
	color: #073791
}
.navbar{
	margin-left: 5%;
	margin-right: 6%;
}

.register-card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 41%;
	margin: 0 auto 20px;
}

.login-card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 41%;
	margin: 0 auto 20px;
}

.quiz-card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 41%;
	margin: 0 auto 20px;
}

.question-card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 41%;
	margin: 0 auto 20px;
}

.score-card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 30%;
	margin: 0 auto 20px;
	font-size: 20px;
	font-weight: bold;
}
.title {
	color: #61dafb !important;
}

.start-quiz {
	font-size: 20px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 30px;
	font-weight: bold;
	color: #073791
}

.register-form-div{
	margin-bottom: 60px;
}

.information-card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 30%;
	margin: 0 auto 20px;
	font-size: 20px;
	font-weight: bold;
}

.logout-button{
	font-size:20px;
	padding: 15px,20px;
	margin-bottom: 40px;
	font-weight: bold;
}

.submit-button{
	font-size:20px;
	padding: 15px,20px;
	margin-bottom: 40px;
	font-weight: bold;
}

.chatrooms{
	font-size:15px;
}

.quiz-title{
	font-size: 38px;
}

.quiz-cate{
	font-size: 20px;
}

.quiz-description{
	margin: 25px;
}

.scoreboard{
	font-size: 30px;
}

.question-card-area{
	margin: 20px;
}

ul {
	list-style-type: none;
  }